<div class="ec-header">
    <div class="ec-header__logo">
        LOGO
    </div>
    <div class="ec-header__info">
        Find the ideal gift for your loved ones.
    </div>
    <div class="ec-header__actions">
        <a href="#" class="ec-button__primary">
            <span>choose gift</span>
            <svg width="26" height="12" viewBox="0 0 26 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.22205 4.80469L0.472046 4.80469L0.472046 6.30469L1.22205 6.30469L1.22205 4.80469ZM25.7524 6.08502C26.0453 5.79213 26.0453 5.31725 25.7524 5.02436L20.9794 0.251388C20.6865 -0.0415053 20.2116 -0.0415053 19.9187 0.251388C19.6259 0.544281 19.6259 1.01916 19.9187 1.31205L24.1614 5.55469L19.9187 9.79733C19.6259 10.0902 19.6259 10.5651 19.9187 10.858C20.2116 11.1509 20.6865 11.1509 20.9794 10.858L25.7524 6.08502ZM1.22205 6.30469L25.222 6.30469L25.222 4.80469L1.22205 4.80469L1.22205 6.30469Z" fill="black"/>
            </svg>
        </a>
    </div>
</div>


{% schema %} {
  "name": "Header (EC)",
  "enabled_on": {
    "groups": ["header"]
  },
  "tag": "section",
  "class": "section",
  "blocks": [],
  "presets": [
    {
      "name": "Header (EC)"
    }
  ]
}
{% endschema %}
