@font-face {
    font-family: 'Jost';
    src: url('https://cdn.shopify.com/s/files/1/0880/6744/0927/files/Jost-Regular.woff2?v=1720111935') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0880/6744/0927/files/Jost-Regular.woff?v=1720111935') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Jost';
}

.ec-page-width{
    width: 100%;
    padding: 0rem 1.5rem;
}

@media (min-width: 991px) {
    .ec-page-width{
        padding: 0rem 5rem;
    }
}


/* BUTTONS */
.ec-button__primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    height: 44px;
    padding: 5px 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFF544;
    color: #000000;
    text-transform: uppercase;
    gap: 10px;
}
.ec-button__icon{
    width: 26px;
    min-width: 26px;
    display: flex;
}

span.ec-button__icon svg {
    transition: all 0.2s ease-in-out;
}
.ec-button__primary:hover .ec-button__icon svg{
    transform: translateX(10px);
}

.ec-button__primary[aria-disabled="true"]{
    opacity: 0.75;
}