.ec-page-width{
    width: 100%;
    padding: 0rem 1.5rem;
}

@media (min-width: 991px) {
    .ec-page-width{
        padding: 0rem 5rem;
    }
}


/* BUTTONS */
.ec-button__primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    height: 44px;
    padding: 5px 30px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFF544;
    color: #000000;
    text-transform: uppercase;
    gap: 5px;
}
.ec-button__icon{
    width: 26px;
    min-width: 26px;
    display: flex;
}