.ec-hero-banner__media {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.ec-hero-banner__media >*:not(.zoom):not(.deferred-media__poster-button) {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* .ec-banner-desktop-adapt .ec-hero-banner__media,
.ec-banner-mobile-adapt .ec-hero-banner__media, */
.ec-banner-desktop-adapt, 
.ec-banner-mobile-adapt {
    height: auto;
}

.ec-hero-banner:after, 
.ec-hero-banner__media:after {
    content: "";
    position: absolute;
    top: 0;
    background: #000;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.ec-banner__content {
    padding: 0;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}