.ec-featured-product__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}

.ec-featured-product__item-thumbnail img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}